Description=Minecraft Bedrock Service
After=network-online.target

[Service]
User=yourusername
WorkingDirectory=/home/yourusername/server/
Type=forking
ExecStart=/usr/bin/screen -dmS Minecraft /bin/bash -c /home/yourusername/server/./bedrock_server
#ExecStop=/usr/bin/screen -Rd UbuntuMinecraft -X stuff "say Stopping server in 10 seconds...\\r"
#ExecStop=/bin/sleep 10
#ExecStop=/usr/bin/screen -Rd UbuntuMinecraft -X stuff "stop\\r"
#GuessMainPID=no
#TimeoutStartSec=600
Restart=on-failure

[Install]
WantedBy=multi-user.target
